#rootDiv {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110%;
    border-radius: .19rem;
    box-shadow: 0 .19rem .41rem rgba(0,0,0,.25);
}

.container {
    padding: 1.5rem;
    background: #fafafa;
    width: auto;
}

input, textarea {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: transparent;
    color: #111;
    font-size: 1rem;
    padding: .3rem .5rem;
    margin-bottom: 1rem;
    display: block;
}

label {
    margin-left: 6px;
}

#image {
    width: 100%;
}

#title{
    font-size: 2rem;
}

select {
    text-transform: capitalize;
}

option{
    text-transform: capitalize;
}

.tag {
    border: #0074D9 1px solid;
    border-radius: 5px;
    background-color: #0074D9;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 5px;
}

.close {
    font-size: 1.4rem;
    float: none;
    cursor: pointer;
}